<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="First Test">
<test thread-count="5" name="First Test Class">
		<classes>
			<class name="com.MySeleniumProject.Tests.FirstTestClass" />
			<class name="com.MySeleniumProject.exploration.FourthTestClass" />
			<class name="com.MySeleniumProject.Tests.ThirdTestClass" />

		</classes>
	</test> 

		<!--<test thread-count="5" name="Second Test Class">
		<classes>
			<class name="com.MySeleniumProject.Tests.SecondTestClass" />
		</classes>
	</test> 

	<test thread-count="5" name="Third Test Class">
		<classes>
			<class name="com.MySeleniumProject.Tests.ThirdTestClass" />

		</classes>
	</test>
	Test -->
	
	<test thread-count="5" name="Fourth Test Class">
		<classes>
			<class name="com.MySeleniumProject.Tests.SecondTestClass" />
		</classes>
	</test> <!--
	Test -->
</suite> 


